################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WpfApp3/bin/Debug
/WpfApp3/bin/Release
/WpfApp3/obj/Release/TempPE
/WpfApp3/obj/Release
